@import "./variables";
// @import "./atoms";

// html, body{
//     overflow-x: hidden;
// }

// HEADERS
h1, .h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
}
h2, .h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}
h3, .h3{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
}
h4, .h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}
h5, .h5{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
}
h6, .h6{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
}

// TYPE
.type-body-xl{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.type-body-large{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.type-body-med{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.type-small{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.type-xsmall{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.light-weight { 
    font-weight: 300;
}
.med-weight { 
    font-weight: 500;
}
.semi-bold-weight { 
    font-weight: 600;
}
.bold-weight { 
    font-weight: 700;
}

// DEFAULT STYLES

body {
    font-family: 'Inter', sans-serif;
    color: $gray-80;
    
    .tippy-box{
        display: none;
    }

    &.nav-collapsed{
        .tippy-box{
            display: block;
        }

        .expand-border{
            &:hover{
                cursor: e-resize;
            }
        }
        
        .page-wrapper{
            width: 100vw;
        }
    }
}

a {
    text-decoration: underline;
    color: $gray-80;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

button{
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: none;
}

.max-width{
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
}

nav.topbar{
    height: 68px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-30;
    padding: 0 24px;
    max-width: 100vw;

    .account-switcher{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        transition: $transition;
        border-radius: 4px;
        position: relative;

        &:hover{
            background-color: $gray-10;
        }

        &.show-menu{
            background-color: $gray-10;

            img{
                transform: rotate(-180deg);
            }
        }

        img{
            transition: $transition;
        }

        .account-menu{
            position: absolute;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: $shadow-2;
            top: calc(100% + -4px);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: 2;
            width: 100%;
            min-width: 230px;
            transition: $transition;

            &.show{
                top: calc(100% + 4px);
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }

            .menu-item{
                padding: 12px 16px;
                flex: 1;
                justify-content: space-between;
                transition: $transition;

                &:hover{
                    background-color: $gray-10;
                    cursor: pointer;
                }

                &.active{
                    color: $info-70;
                    background-color: $info-10;

                    svg{
                        display: block;
                    }
                }

                svg{
                    min-width: 20px;
                    min-height: 20px;
                    display: none;

                    path{
                        fill: $info-70;
                    }
                }
            }
        }
    }

    .search{
        background-color: transparent;
        border-radius: 40px;
        width: 464px;
        cursor: pointer;
        color: $gray-60;
        transition: $transition;
        box-sizing: border-box;
        height: 38px;
        border: 1px solid $gray-50;
        padding-right: 8px;

        &:hover{
            background-color: $gray-10;
            color: $gray-80;
            svg > path{
                fill: $gray-80;
            }
        }
        
        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }

        .short-cut{
            padding: 0 8px;
            border-radius: 40px;
            background-color: $gray-10;
            border: 1px solid $gray-30;
        }
    }

    .right{
        .help, .notifications{
            transition: $transition;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: $gray-10;
            }
        }

        .profile-dropdown{
            cursor: pointer;
            position: relative;

            &:hover{
                .avatar{
                    background-color: $gray-20;
                }
            }

            &.show-menu{
                img{
                    transform: rotate(-180deg);
                }
            }

            img{
                transition: $transition;
            }

            .avatar{
                background-color: $gray-10;
                border-radius: 50%;
                height: 32px;
                width: 32px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                transition: $transition;
            }

            .profile-menu{
                position: absolute;
                display: flex;
                flex-direction: column;
                border-radius: 4px;
                background-color: #fff;
                box-shadow: $shadow-2;
                top: calc(100% + -4px);
                right: 0;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                z-index: 2;
                width: 100%;
                min-width: 180px;
                transition: $transition;
    
                &.show{
                    top: calc(100% + 4px);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
    
                .menu-item{
                    padding: 12px 16px;
                    flex: 1;
                    transition: $transition;
    
                    &:hover{
                        background-color: $gray-10;
                        cursor: pointer;
                    }
    
                    &.active{
                        color: $info-70;
                        background-color: $info-10;
                    }

                    span{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                    }
    
                    svg{
                        min-width: 20px;
                        min-height: 20px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

.page-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .page-wrapper{
        flex: 1;
        box-sizing: border-box;
        width: calc(100vw);
        display: flex;
        justify-content: center;
        height: calc(100vh - 68px);
        overflow-y: auto;
    }
    
    .page{
        padding: 0 32px;
        width: calc(100vw - 256px - 64px);
        max-width: 1400px;

        &.delivery-page{
            display: none;
        }
    }

    &.show-delivery{
        .home-page{
            display: none;
        }
        .delivery-page{
            display: block;
        }
    }
}

.nav-wrapper{
    width: 256px;
    overflow: hidden;
    position: relative;
    height: calc(100vh - 68px);
    border-right: 1px solid $gray-30;
    box-sizing: border-box;
    transition: $transition;

    &.show-delivery{
        .top-menu{
            left: -257px;
        }
        .deliver-menu{
            left: 0;
            pointer-events: auto;
        }
    }

    &.collapsed{
        width: 68px;

        .left-nav{
            width: 68px;

            .nav-item{
                padding: 12px;
                margin: 8px 12px;
                display: flex;
                justify-content: center;

                &.active{
                    border: 1px solid $info-70;

                    &::after{
                        display: none;
                    }
                }

                span{
                    display: none;
                }
            }

            .collapse-nav{
                img{
                    transform: rotate(180deg);
                }
                span{
                    display: none;
                }
            }

            .back-to-home{
                height: 56px;
                padding: 0;
                margin: 0;
                width: 100%;

                span, .page-icon{
                    display: none;
                }
            }
        }
    }
}

.left-nav{
    width: 255px;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: $transition;
    position: absolute;
    left: 0;
    top: 0;

    &.drill-down{
        left: 256px;
        pointer-events: none;

        .nav-item:nth-child(2){
            margin-top: 16px;
        }
    }

    .nav-item{
        display: flex;
        align-items: center;
        padding: 16px;
        margin: 4px 16px;
        text-decoration: none;
        border-radius: 4px;
        position: relative;
        transition: $transition;
        flex-wrap: nowrap;

        &.back-to-home{
            height: 56px;
            box-sizing: border-box;
            border-bottom: 1px solid $gray-20;
            margin: 0;
            padding: 0 24px 0 32px;
            border-radius: 0;
            
            span{
                margin: 0;
            }
        }

        &:hover{
            background-color: $gray-10;
        }

        &::after{
            position: absolute;
            height: 6px;
            width: 6px;
            background-color: $info-70;
            content: "";
            border-radius: 50%;
            right: 16px;
            display: none;
        }

        &.active{
            background-color: $info-10;
            color: $info-70;

            &::after{
                display: block;
            }

            svg path{
                fill: $info-70 !important;
            }
        }
        
        span{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-left: 12px;
        }

        svg{
            min-width: 20px;
            min-height: 20px;
        }
    }

    .collapse-nav{
        cursor: pointer;
        transition: $transition;
        cursor: pointer;
        flex-wrap: nowrap;

        &:hover{
            background-color: $gray-10;
        }

        img{
            transition: $transition;
        }

        span{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-left: 12px;   
        }
    }
}

.breadcrumbs{
    border-bottom: 1px solid $gray-20;
    box-sizing: border-box;
    margin: 0 -32px;
    padding: 16px 32px;
    height: 56px;
    transition: $transition;

    .separator{
        margin: 0 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .breadcrumb-item{
        text-decoration: none;
        border-radius: 2px;
        box-sizing: border-box;
        transition: $transition;
        border: 1px solid #fff;

        &:hover{
            border-color: $gray-30;

            .breadcrumb-dropdown > svg {
                border-left: 1px solid $gray-20;
                path{
                    fill: $gray-80;
                }
            }
        }

        .breadcrumb-dropdown > svg{
            visibility: visible;
            padding: 2px;
            width: auto;
            border-left: 1px solid #fff;

            path{
                fill: $gray-50;
            }
        }
        
        
        > a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            transition: $transition;
            padding: 2px 0;
            text-decoration: none;
            color: $info-70;
            padding: 2px 8px;

            &:hover{
                background-color: $info-10;
            }
        }

        button{
            padding: 0;
            margin: 0;
            cursor: pointer;

            &:hover{
                background-color: $info-10;
            }
        }
    }
}

.search{
    position: relative;

    .search-dropdown{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: -16px;
        left: 50%;
        transform: translate(-50%) scale(97%);
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: $shadow-2;
        padding: 8px 0;
        width: 512px;
        z-index: 3;

        &.show{
            transform: translate(-50%) scale(100%);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            top: -8px;
        }

        > span{
            font-weight: 600 !important;
            font-size: 12px !important;
            line-height: 20px !important;
            margin: 16px 0 0 16px;
        }

        .search-box{
            width: calc(100% - 32px);
            position: relative;
            margin: 0 16px;
            box-sizing: border-box;
            
            input{
                width: 100%;
                padding: 8px 16px 8px 44px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                border: none;
                background-color: transparent;
                border: 1px solid $gray-60;
                border-radius: 40px;
                transition: $transition;

                &:focus{
                    outline: 4px solid $info-30;
                }
            }

            svg{
                pointer-events: none;
                position: absolute;
                left: 16px;
            }
        }

        .recent-search{
            width: calc(100% - 32px);
            color: $gray-80;
            padding: 8px 16px;
            transition: $transition;

            &:hover{
                background-color: $gray-10;
            }

            .text-wrapper{
                flex: 1;

                p {
                    font-weight: 500 !important;
                    font-size: 16px !important;
                    line-height: 24px !important;
                }

                span{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

.breadcrumb-dropdown{
    position: relative;

    .dropdown-menu{
        position: absolute;
        top: calc(100% + -4px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: #fff;
        box-shadow: $shadow-2;
        min-width: 240px;
        border-radius: 4px;
        transition: $transition;
        left: 0;

        &.show{
            top: calc(100% + 4px); 
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        .nav-item{
            display: flex;
            align-items: center;
            padding: 12px 16px;
            text-decoration: none;
            border-radius: 4px;
            position: relative;
            transition: $transition;
            flex-wrap: nowrap;
    
            &:hover{
                background-color: $gray-10;
            }
    
            &::after{
                position: absolute;
                height: 6px;
                width: 6px;
                background-color: $info-70;
                content: "";
                border-radius: 50%;
                right: 16px;
                display: none;
            }
    
            &.active{
                background-color: $info-10;
                color: $info-70;
    
                &::after{
                    display: block;
                }
    
                svg path{
                    fill: $info-70 !important;
                }
            }
            
            span{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-left: 8px;
            }
    
            svg{
                min-width: 20px;
                min-height: 20px;
            }
        }
    }
}

.expand-border{
    height: calc(100vh - 68px);
    width: 6px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    z-index: 1;
    transition: $transition;

    &:hover{
        background-color: $info-60;
        cursor: w-resize;
    }

}