h1, .h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
}

h2, .h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

h3, .h3 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}

h4, .h4 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

h5, .h5 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

h6, .h6 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}

.type-body-xl {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.type-body-large {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.type-body-med {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.type-small {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.type-xsmall {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.light-weight {
  font-weight: 300;
}

.med-weight {
  font-weight: 500;
}

.semi-bold-weight {
  font-weight: 600;
}

.bold-weight {
  font-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
  color: #292B2D;
}
body .tippy-box {
  display: none;
}
body.nav-collapsed .tippy-box {
  display: block;
}
body.nav-collapsed .expand-border:hover {
  cursor: e-resize;
}
body.nav-collapsed .page {
  width: calc(100vw - 68px - 64px);
}
body.nav-collapsed .page-wrapper {
  width: calc(100vw - 68px - 64px);
}

a {
  text-decoration: underline;
  color: #292B2D;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

button {
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: none;
}

.max-width {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

nav.topbar {
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.11);
  padding: 0 24px;
}
nav.topbar .account-switcher {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border-radius: 4px;
  position: relative;
}
nav.topbar .account-switcher:hover {
  background-color: #F0F2F5;
}
nav.topbar .account-switcher.show-menu {
  background-color: #F0F2F5;
}
nav.topbar .account-switcher.show-menu img {
  transform: rotate(-180deg);
}
nav.topbar .account-switcher img {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .account-switcher .account-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
  top: calc(100% - 4px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  width: 100%;
  min-width: 230px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .account-switcher .account-menu.show {
  top: calc(100% + 4px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
nav.topbar .account-switcher .account-menu .menu-item {
  padding: 12px 16px;
  flex: 1;
  justify-content: space-between;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .account-switcher .account-menu .menu-item:hover {
  background-color: #F0F2F5;
  cursor: pointer;
}
nav.topbar .account-switcher .account-menu .menu-item.active {
  color: #0073C6;
  background-color: #EFF8FF;
}
nav.topbar .account-switcher .account-menu .menu-item.active svg {
  display: block;
}
nav.topbar .account-switcher .account-menu .menu-item svg {
  min-width: 20px;
  min-height: 20px;
  display: none;
}
nav.topbar .account-switcher .account-menu .menu-item svg path {
  fill: #0073C6;
}
nav.topbar .search {
  background-color: #F0F2F5;
  border-radius: 4px;
  width: 376px;
  cursor: pointer;
  color: #717375;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .search:hover {
  background-color: #DFE1E3;
  color: #292B2D;
}
nav.topbar .search:hover svg > path {
  fill: #292B2D;
}
nav.topbar .search span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
nav.topbar .search .short-cut {
  padding: 0 4px;
  border-radius: 4px;
  background-color: #F0F2F5;
  border: 1px solid #CED0D2;
}
nav.topbar .right .help, nav.topbar .right .notifications {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.topbar .right .help:hover, nav.topbar .right .notifications:hover {
  background-color: #F0F2F5;
}
nav.topbar .right .profile-dropdown {
  cursor: pointer;
  position: relative;
}
nav.topbar .right .profile-dropdown:hover .avatar {
  background-color: #DFE1E3;
}
nav.topbar .right .profile-dropdown.show-menu img {
  transform: rotate(-180deg);
}
nav.topbar .right .profile-dropdown img {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .right .profile-dropdown .avatar {
  background-color: #F0F2F5;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .right .profile-dropdown .profile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
  top: calc(100% - 4px);
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  width: 100%;
  min-width: 180px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .right .profile-dropdown .profile-menu.show {
  top: calc(100% + 4px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
nav.topbar .right .profile-dropdown .profile-menu .menu-item {
  padding: 12px 16px;
  flex: 1;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
nav.topbar .right .profile-dropdown .profile-menu .menu-item:hover {
  background-color: #F0F2F5;
  cursor: pointer;
}
nav.topbar .right .profile-dropdown .profile-menu .menu-item.active {
  color: #0073C6;
  background-color: #EFF8FF;
}
nav.topbar .right .profile-dropdown .profile-menu .menu-item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
nav.topbar .right .profile-dropdown .profile-menu .menu-item svg {
  min-width: 20px;
  min-height: 20px;
  margin-right: 8px;
}

.page-content {
  display: flex;
}
.page-content .page-wrapper {
  flex: 1;
  box-sizing: border-box;
  width: calc(100vw - 256px - 64px);
}
.page-content .page {
  padding: 0 32px;
  width: calc(100vw - 256px - 64px);
}
.page-content .page.delivery-page {
  display: none;
}
.page-content.show-delivery .home-page {
  display: none;
}
.page-content.show-delivery .delivery-page {
  display: block;
}

.nav-wrapper {
  width: 256px;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 56px);
  border-right: 1px solid #DFE1E3;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.nav-wrapper.show-delivery .top-menu {
  left: -257px;
}
.nav-wrapper.show-delivery .deliver-menu {
  left: 0;
  pointer-events: auto;
}
.nav-wrapper.collapsed {
  width: 68px;
}
.nav-wrapper.collapsed .left-nav {
  width: 68px;
}
.nav-wrapper.collapsed .left-nav .nav-item {
  padding: 12px;
  margin: 8px 12px;
  display: flex;
  justify-content: center;
}
.nav-wrapper.collapsed .left-nav .nav-item.active {
  border: 1px solid #0073C6;
}
.nav-wrapper.collapsed .left-nav .nav-item.active::after {
  display: none;
}
.nav-wrapper.collapsed .left-nav .nav-item span {
  display: none;
}
.nav-wrapper.collapsed .left-nav .collapse-nav img {
  transform: rotate(180deg);
}
.nav-wrapper.collapsed .left-nav .collapse-nav span {
  display: none;
}
.nav-wrapper.collapsed .left-nav .back-to-home {
  height: 56px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav-wrapper.collapsed .left-nav .back-to-home span, .nav-wrapper.collapsed .left-nav .back-to-home .page-icon {
  display: none;
}

.left-nav {
  width: 255px;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  position: absolute;
  left: 0;
  top: 0;
}
.left-nav.drill-down {
  left: 256px;
  pointer-events: none;
}
.left-nav.drill-down .nav-item:nth-child(2) {
  margin-top: 16px;
}
.left-nav .nav-item {
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 4px 16px;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  flex-wrap: nowrap;
}
.left-nav .nav-item.back-to-home {
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #DFE1E3;
  margin: 0;
  padding: 0 24px 0 32px;
  border-radius: 0;
}
.left-nav .nav-item.back-to-home span {
  margin: 0;
}
.left-nav .nav-item:hover {
  background-color: #F0F2F5;
}
.left-nav .nav-item::after {
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #0073C6;
  content: "";
  border-radius: 50%;
  right: 16px;
  display: none;
}
.left-nav .nav-item.active {
  background-color: #EFF8FF;
  color: #0073C6;
}
.left-nav .nav-item.active::after {
  display: block;
}
.left-nav .nav-item.active svg path {
  fill: #0073C6 !important;
}
.left-nav .nav-item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 12px;
}
.left-nav .nav-item svg {
  min-width: 20px;
  min-height: 20px;
}
.left-nav .collapse-nav {
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  flex-wrap: nowrap;
}
.left-nav .collapse-nav:hover {
  background-color: #F0F2F5;
}
.left-nav .collapse-nav img {
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.left-nav .collapse-nav span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 12px;
}

.breadcrumbs {
  border-bottom: 1px solid #DFE1E3;
  box-sizing: border-box;
  margin: 0 -32px;
  padding: 16px 32px;
  height: 56px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.breadcrumbs .separator {
  margin: 0 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.breadcrumbs .breadcrumb-item {
  text-decoration: none;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border: 1px solid #fff;
}
.breadcrumbs .breadcrumb-item:hover {
  border-color: #CED0D2;
}
.breadcrumbs .breadcrumb-item:hover .breadcrumb-dropdown > svg {
  border-left: 1px solid #DFE1E3;
}
.breadcrumbs .breadcrumb-item:hover .breadcrumb-dropdown > svg path {
  fill: #292B2D;
}
.breadcrumbs .breadcrumb-item .breadcrumb-dropdown > svg {
  visibility: visible;
  padding: 2px;
  width: auto;
  border-left: 1px solid #fff;
}
.breadcrumbs .breadcrumb-item .breadcrumb-dropdown > svg path {
  fill: #A0A2A4;
}
.breadcrumbs .breadcrumb-item > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  padding: 2px 0;
  text-decoration: none;
  color: #0073C6;
  padding: 2px 8px;
}
.breadcrumbs .breadcrumb-item > a:hover {
  background-color: #EFF8FF;
}
.breadcrumbs .breadcrumb-item button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.breadcrumbs .breadcrumb-item button:hover {
  background-color: #EFF8FF;
}

.search {
  position: relative;
}
.search .search-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -16px;
  left: 50%;
  transform: translate(-50%) scale(97%);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
  padding: 8px 0;
  width: 512px;
  z-index: 3;
}
.search .search-dropdown.show {
  transform: translate(-50%) scale(100%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  top: -8px;
}
.search .search-dropdown > span {
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  margin: 16px 0 0 16px;
}
.search .search-dropdown .search-box {
  width: calc(100% - 32px);
  position: relative;
  margin: 0 16px;
  box-sizing: border-box;
}
.search .search-dropdown .search-box input {
  width: 100%;
  padding: 8px 16px 8px 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  border: 1px solid #717375;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.search .search-dropdown .search-box input:focus {
  outline: 4px solid #93D2FF;
}
.search .search-dropdown .search-box svg {
  pointer-events: none;
  position: absolute;
  left: 16px;
}
.search .search-dropdown .recent-search {
  width: calc(100% - 32px);
  color: #292B2D;
  padding: 8px 16px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.search .search-dropdown .recent-search:hover {
  background-color: #F0F2F5;
}
.search .search-dropdown .recent-search .text-wrapper {
  flex: 1;
}
.search .search-dropdown .recent-search .text-wrapper p {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.search .search-dropdown .recent-search .text-wrapper span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumb-dropdown {
  position: relative;
}
.breadcrumb-dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% - 4px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
  min-width: 240px;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  left: 0;
}
.breadcrumb-dropdown .dropdown-menu.show {
  top: calc(100% + 4px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.breadcrumb-dropdown .dropdown-menu .nav-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  flex-wrap: nowrap;
}
.breadcrumb-dropdown .dropdown-menu .nav-item:hover {
  background-color: #F0F2F5;
}
.breadcrumb-dropdown .dropdown-menu .nav-item::after {
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #0073C6;
  content: "";
  border-radius: 50%;
  right: 16px;
  display: none;
}
.breadcrumb-dropdown .dropdown-menu .nav-item.active {
  background-color: #EFF8FF;
  color: #0073C6;
}
.breadcrumb-dropdown .dropdown-menu .nav-item.active::after {
  display: block;
}
.breadcrumb-dropdown .dropdown-menu .nav-item.active svg path {
  fill: #0073C6 !important;
}
.breadcrumb-dropdown .dropdown-menu .nav-item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
}
.breadcrumb-dropdown .dropdown-menu .nav-item svg {
  min-width: 20px;
  min-height: 20px;
}

.expand-border {
  height: 100%;
  width: 6px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  z-index: 1;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.expand-border:hover {
  background-color: #0091F9;
  cursor: w-resize;
}/*# sourceMappingURL=style.css.map */